grep.pro.user
*.json
/.qmake.stash
/src/x64/Debug/vc141.pdb
/src/x64/Debug/trigram_storage.obj
/src/x64/Debug/qt.txt
/src/x64/Debug/qt.log
/src/x64/Debug/moc_mainwindow.obj
/src/x64/Debug/moc_directory_controller.obj
/src/x64/Debug/mainwindow.obj
/src/x64/Debug/main.obj
/src/x64/Debug/file_iterator.obj
/src/x64/Debug/directory_controller.obj
/src/x64/Debug/dirdemo.tlog/QtUic.write.1u.tlog
/src/x64/Debug/dirdemo.tlog/QtUic.read.1u.tlog
/src/x64/Debug/dirdemo.tlog/QtMoc.write.1u.tlog
/src/x64/Debug/dirdemo.tlog/QtMoc.read.1u.tlog
/src/x64/Debug/dirdemo.tlog/link.write.1.tlog
/src/x64/Debug/dirdemo.tlog/link.read.1.tlog
/src/x64/Debug/dirdemo.tlog/link.command.1.tlog
/src/x64/Debug/dirdemo.tlog/dirdemo.write.1u.tlog
/src/x64/Debug/dirdemo.tlog/dirdemo.lastbuildstate
/src/x64/Debug/dirdemo.tlog/custombuild.write.1.tlog
/src/x64/Debug/dirdemo.tlog/custombuild.read.1.tlog
/src/x64/Debug/dirdemo.tlog/custombuild.command.1.tlog
/src/x64/Debug/dirdemo.tlog/CL.write.1.tlog
/src/x64/Debug/dirdemo.tlog/CL.read.1.tlog
/src/x64/Debug/dirdemo.tlog/CL.command.1.tlog
/src/x64/Debug/dirdemo.log
/src/x64/Debug/dirdemo.Build.CppClean.log
/.vs/grep/v15/Preview/ipch/AutoPCH/f20333dc9be3b7bc/FILE_ITERATOR.ipch
/.vs/grep/v15/Preview/ipch/AutoPCH/d7a5bcf7dd194ebd/DIRECTORY_CONTROLLER.ipch
/.vs/grep/v15/Preview/ipch/AutoPCH/bb878072a3005e5f/TRIGRAM_STORAGE.ipch
/.vs/grep/v15/Preview/ipch/AutoPCH/9e95789eb7d8796c/MAIN.ipch
/.vs/grep/v15/Preview/ipch/AutoPCH/6046b0de024701c0/MAINWINDOW.ipch
/.vs/grep/v15/Preview/Browse.VC.opendb
/.vs/grep/v15/Preview/Browse.VC.db
/.vs/grep/v15/.suo
/grep.sln.DotSettings.user
/grep.sln
/src/dirdemo.vcxproj.user
/src/dirdemo.vcxproj.filters
/src/dirdemo.vcxproj
/src/debug/moc_predefs.h.cbt
/src/debug/moc_predefs.h
/src/debug/dirdemo.pdb
/src/debug/dirdemo.ilk
/src/debug/dirdemo.exe
/src/GeneratedFiles/ui_mainwindow.h
/src/GeneratedFiles/Debug/moc_mainwindow.cpp
/src/GeneratedFiles/Debug/moc_directory_controller.cpp
/src/release/moc_predefs.h.cbt
